
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="#">ITI System</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/departments" routerLinkActive="active">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/xyz" routerLinkActive="active">xyz</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" routerLink="#">Action 1</a>
                    <a class="dropdown-item" routerLink="#">Action 2</a>
                </div>
            </li> -->
        </ul>
    </div>
  </div>
</nav>
