
@{
    ViewBag.Title = "Add Department";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Add</title>
    </head>
    <body>
    <form asp-action="Add" asp-controller="Department" method="post">
            <label for="department.Id">Department ID:</label>
            <input type="text" name="department.Id" />
            <br />
            <label for="department.Name">Department Name:</label>
            <input type="text" name="department.Name" />
            <br />
        <label for="department.ManagerName">Department Manager Name:</label>
            <input type="text" name="department.ManagerName" />
            <br />
            <input type="submit" value="Add" class="btn btn-success"/>
        </form>
    </body>
</html>

@section scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}


@*asp-action="Add" asp-controller="Department"*@
@*action="/Department/Add"*@