@model Department
@{
    ViewBag.Title = $"Department {@Model.Name} Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Details</title>
</head>
<body>

    <h2 class="alert alert-success">Your Department ID: @Model.Id , Name: @Model.Name , Manager Name: @Model.ManagerName</h2>

</body>
</html>
