@model Department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form method="post">
        <label>Department Name:</label>
        <input asp-for="Name" />
        <br />
        <label>Department Manager Name:</label>
        <input asp-for="ManagerName" />
        <br />
        <input type="submit" value="update" class="btn btn-success" />
    </form>
</body>
</html>
