@page "{id?}"
@model RazorPageApp.Pages.Students.DetailsModel
@{
}
<h1 class="alert alert-success">
    Student Id : @Model.Student.Id ,
    Student Name : @Model.Student.Name ,
    Student Age : @Model.Student.Age ,
</h1>
