@model Student
@{
    ViewBag.Title = $"Add a Student";
}


<form asp-action="create" asp-controller="student" method="post">
    <label asp-for="Id">ID:</label>
    <input asp-for="Id" />
    <br />
    <label asp-for="Name">Name:</label>
    <input asp-for="Name" />
    <br />
    <label asp-for="Grade">Grade:</label>
    <input asp-for="Grade" />
    <br />
    <input type="submit" value="Add"/>
</form>


@section scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
