@model Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1 class="alert alert-danger">
        Student ID : @Model.Id , Student Name: @Model.Name , Student Grade : @Model.Grade
    </h1>
</body>
</html>
